.parret{
    width: 160px;
    height: 300px;
}
.box{
    display: flex;
     justify-content: center;
}
.big_box{
    width: 80%;
    margin: auto;
    text-align: center;
}
.text{
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    margin: 20px auto;
}
#one{
    background-color: #ef476f;
    margin-right: 10px;
}
#two{
    background-color: #ffd166;
    margin-right: 10px;
}
#three{
    background-color: #06d6a0;
    margin-right: 10px;
}
#four{
    background-color: #118ab2;
    margin-right: 10px;
}
#five{
    background-color:#073b4c;
}
